:root {
	--font-size-primary: 0.906rem; /* 14.5px */
	--font-size-secondary: 0.688rem; /* 11px */

	--foreground: rgba(0, 0, 0, 0.75);

	--border-color: rgba(0, 0, 0, 0.55);
	--border-shorthand: 0.063rem solid var(--border-color);

	/* Button */
	--button-hover-foreground: rgba(255, 255, 255, 0.9);
	--button-hover-backround: rgba(0, 0, 0, 0.78);
	--font-size-button: 0.769rem; /* 12.3px */

	--seven: 0.438rem; /* 7px */
	--twelve: 0.75rem; /* 12px */
}

*, *::before, *::after {
    color: var(--foreground);
    box-sizing: border-box;
}

body { /* Left & right spacing is left & right from default body margin + 12px */
    display: flex;
    justify-content: center;
    min-height: 91vh;
    margin-top: 4.5vh;
    margin-bottom: 4.5vh;
    padding: var(--twelve);
    font-size: var(--font-size-primary);
    text-align: center;
}

main {
    width: 100%;
    max-width: 37.5rem;
}

#sliding-images {
	border: var(--border-shorthand);
	padding: 0 1.25rem;
	text-align: justify;
}

img {
	display: block;
	height: auto;
	width: 100%;

	opacity: 0;
	transition: all 0.5s;
}

p > img {
	width: 18%;
	min-width: 5rem;
}

hr {
	border: none;
	border-top: var(--border-shorthand);
}

.__image-one {
	transform: translateX(10%);
}

.__image-two,
.__image-five {
	margin-right: var(--seven);
	float: left;	

	transform: translateX(-40%);
}

.__image-three {
	transform: translateX(-10%);
}

.__image-four {
	margin-left: var(--seven);
	float: right;

	transform: translateX(40%);
}

.slided-in__ {
	transform: translate(0%);
	opacity: 1;
}

/* Notice / Link */

#notice {
    margin-top: 0.656rem;
    padding: 0 var(--seven);
    font-size: var(--font-size-secondary);
    line-height: 1.1;
    word-wrap: break-word;
}

/* Media Query */

/* Font Size */
@media (max-width: 30rem) { /* 480px */
	html {
		font-size: calc(1rem - 10%);
	}
}
/* -------- */